In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("weather_2012.csv")

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
2576,2012-04-17 08:00:00,10.2,0.6,51,43,48.3,101.42,Mainly Clear
987,2012-02-11 03:00:00,-9.5,-12.4,79,22,6.4,100.93,Snow
5475,2012-08-16 03:00:00,17.4,15.6,89,6,25.0,100.76,Mainly Clear
2321,2012-04-06 17:00:00,7.7,-11.0,25,32,48.3,101.11,Mostly Cloudy
2997,2012-05-04 21:00:00,14.0,9.8,76,32,25.0,100.99,Cloudy

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [7]:
#rename columns while saving copy of the old ones
#OLD Date/Time Temp(C) Dew Point Temp(C) Rel Hum(%) Wind Spd(km/h) Visibility(km) Stn Press(kPa) Weather
#NEW date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, weather

In [8]:
df1=df.rename(columns={"Date/Time":"date_time","Temp (C)":"temp_c",
                   "Dew Point Temp (C)":"dew_point","Rel Hum (%)":"relative_humidity",
                  "Wind Spd (km/h)":"wind_speed","Visibility (km)":"visibility",
                  "Stn Press (kPa)":"pressure","Weather":"weather"})

In [9]:
df1.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [10]:
df1.insert(1, "temp_f", (df1.temp_c*1.8)+32)

In [11]:
df1

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow

In [12]:
df1.info

<bound method DataFrame.info of                 date_time  temp_f  temp_c  dew_point  relative_humidity  \
0     2012-01-01 00:00:00   28.76    -1.8       -3.9                 86
1     2012-01-01 01:00:00   28.76    -1.8       -3.7                 87
2     2012-01-01 02:00:00   28.76    -1.8       -3.4                 89
3     2012-01-01 03:00:00   29.30    -1.5       -3.2                 88
4     2012-01-01 04:00:00   29.30    -1.5       -3.3                 88
...                   ...     ...     ...        ...                ...
8779  2012-12-31 19:00:00   32.18     0.1       -2.7                 81
8780  2012-12-31 20:00:00   32.36     0.2       -2.4                 83
8781  2012-12-31 21:00:00   31.10    -0.5       -1.5                 93
8782  2012-12-31 22:00:00   31.64    -0.2       -1.8                 89
8783  2012-12-31 23:00:00   32.00     0.0       -2.1                 86

      wind_speed  visibility  pressure               weather
0              4         8.0    101.24                   Fog
1              4         8.0    101.24                   Fog
2              7         4.0    101.26  Freezing Drizzle,Fog
3              6         4.0    101.27  Freezing Drizzle,Fog
4              7         4.8    101.23                   Fog
...          ...         ...       ...                   ...
8779          30         9.7    100.13                  Snow
8780          24         9.7    100.03                  Snow
8781          28         4.8     99.95                  Snow
8782          28         9.7     99.91                  Snow
8783          30        11.3     99.89                  Snow

[8784 rows x 9 columns]>

In [13]:
#convert date_time to datetime

In [14]:
df1['weather'].value_counts

<bound method IndexOpsMixin.value_counts of 0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: weather, Length: 8784, dtype: object>

In [15]:
df1.columns

Index(['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibility', 'pressure', 'weather'],
      dtype='object')

In [21]:
from datetime import datetime
df1['date_time']=pd.to_datetime(df1['date_time'],errors='coerce')

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [26]:
df1['weather'].value_counts().head(10)

weather
Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: count, dtype: int64

In [30]:
df1.loc[(df1.temp_f>90)&(df1.relative_humidity<50)&(df1.dew_point>17)&(df1.weather=='Clear')]

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

In [29]:
df1.query('temp_f>90 & relative_humidity<50 & dew_point>17 & weather=="Clear"')

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

In [33]:
df1['month']=df1['date_time'].dt.month
df1

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1
...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow,12
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow,12
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow,12
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow,12
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow,12

In [34]:
df1.to_csv('weather_2012_new.csv',index=False)